<% if userIsCoordinator %>
	<h1>Editando estado</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @state %> |
	<%= link_to 'Regresar', states_path %>
<% else %>
	<%= controller.redirect_to requests_path %>
<% end %>
