<% if userIsCoordinator %>
	<h1>Editando horario</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @schedule %> |
	<%= link_to 'Regresar', schedules_path %>
<% else %>
	<%= controller.redirect_to requests_path %>
<% end %>
