<% if userIsCoordinator %>
	<h1>Editando la propuesta del usuario</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @user_in_request %> |
	<%= link_to 'Regresar', user_in_requests_path %>
<% else %>
	<%= controller.redirect_to requests_path %>
<% end %>
